{% extends 'base.html' %}
<!DOCTYPE html>
  <html>
    <head>
        <!-- Favicon -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            {% block title %}about{% endblock title %}
    </head>

   {% block body %}

<div class="container-fluid mx-0 px-0">
 <div class="row">
  <div class="col-md-6">       
   <div class="card mb-3">
    <img src="/static/img/kbh.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">!!--ABOUT K.B.H.POLYTECHNIC INSTITUTES--!!</h5><hr>
      <p class="card-text align="justify" style="text-align: justify !important;">Our Late Bhausaheb Hiray S.S. Trust has been established by Dr. Baliramji Hiray (Ex-Education Minister Government of Maharashtra) with the sole view of providing Quality Education to the people of Maharashtra in the year 1977. Ours is a charitable trust with leading social workers, philanthropists and doctors as members. With the above laudable objective of providing quality education at reasonable cost for urban and rural people, we are running colleges in Mumbai, Nasik and Malegaon and these colleges are offering a number of educational courses / programs for over 10,000 students. The trust has started various courses to cater for the various segments of people. It can be seen from the mile that we are marching on the path of victory in every field without exception.</p>
     <b>The following institutes are run by the Trust in Malegaon:</b><br><hr>
        <i class="fa fa-bank p-2"></i>College of Physical Education, Malegaon.<br>
        <i class="fa fa-bank p-2"></i>Polytechnic, Malegaon.<br>
        <i class="fa fa-bank p-2"></i> MBA College ,Malegaon.<br>
        <i class="fa fa-bank p-2"></i> MCA College ,Malegaon.<br>
        <i class="fa fa-bank p-2"></i> Industrial Training Institute(ITI) Malegaon.<br>
        <i class="fa fa-bank p-2"></i> College of Pharmacy ,Malegaon.<br>
        <i class="fa fa-bank p-2"></i> Various Primary and Secondary Schools in Rural Areas<br>
        <p class="card-text"><small class="text-muted">"Well done! Keep it up"</small></p>
    </div>
   </div>
  </div>
  <div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">!!--MANAGING TRUSTEE'S MESSAGE--!!</h5><hr>
      <h6 class="card-title text-danger text-center">!!--MR. PRASAD BALIRAMJI HIRAY--!!</h6>
      <p class="card-text align="justify" style="text-align: justify !important;">Though a majority of the educational institutions concentrate their efforts in improving their final results, they have to work on the improvement of other skills as well, due to the following reasons.This is because a majority of the parents are very ambitious about the educational performance of their wards and forcibly send their children to various curricular as well as extra-curricular classes. Naturally, we observe that almost all children are preoccupied with various classes, projects and other related activities every day. Virtually they have no free time for playing or interacting with others in a free atmosphere.

        Hence they are not able to develop a real and meaningful relationship with other students or even with close relatives. It should be remembered that man is a social animal and the denial of development of social skills will definitely affect him mentally and physically.It is important that all the educational Institutions should strive hard to develop the social skills of the students along with academic performance.we have laid out our core policy that our aim is for overall development of the students in all fields such as education, culture and sports. we have gone one more step ahead by starting the "Save Tiger Movement" so that our concern for wild life and nature is developed in the early age of the students.</p>
      <p class="card-text"><small class="text-muted">""When it rains, look for the Rainbow!"."When its dark, look for the stars""</small></p>
    </div>
    <img src="/static/img/pbh.jpg" class="card-img-bottom" alt="...">
  </div>
</div> 
</div> 
</div>

<!---Principal Desk-->
<hr>
<h5 class="text-center text-primary">!!--PRINCIPAL'S MESSAGE--!!</h5><hr>
<div class="container-fluid mx-0 px-0">
 <div class="row">    
 <div class="col-md-6">
<div class="card" style="width: 41rem;">
  <img src="/static/img/prin.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PRINCIPAL DESK</h5>
    <p class="card-text align="justify" style="text-align: justify !important;">Dear Friends,
      Welcome to K.B.H.Polytechnic website!
      In the globalised world, India needs to produce world class diploma engineers. In an attempt to accept this challenge, we have set our vision for empowering through quality technical education.The response from students for all our Diploma courses have made the institute a major center of learning in this region. we train our students to provide more viable solutions for improving the productivity of the industries. Our mission is to encourage research in the frontier areas of technology for sustainable development.Ours is an excellent infrastructure spread over 8 acres of green campus with spacious buildings, well equipped laboratories, good library with e-resources. It provides perfect ambience for teaching-learning, nurturing the innovative minds and healthy bodies.</p>
      <p class="card-text"><small class="text-muted">"Prof. Sunil M. Khangal,Principal"</small></p>
  </div>
</div>
</div>

<div class="col-md-6">
  
  <div class="row"><a class="btn btn-primary" href="https://msbtenews.com/wp-content/uploads/2022/01/Msbte-Academic-Calendar-2021-22-Even-Term.pdf" role="button">Academic Calendar</a></button></div><hr>
  <div class="row"><a class="btn btn-warning" href="/static/pdf/AC.pdf" role="button">Admission Brochure 2020-21</a></button></div><hr>
  <div class="row"><button type="button" class="btn btn-success">Anti-Ragging Committee</button></div><hr>
  <div class="row"><button type="button" class="btn btn-info">Syllabus Download</button></div><hr>
  <div class="row"><button type="button" class="btn btn-danger">Master Time-Table</button></div><hr>
  <div class="row"><button type="button" class="btn btn-warning">Central Library</button></div><hr>
  <div class="row"><button type="button" class="btn btn-secondary">Exam Time-Table</button></div><hr>
  <div class="row"><button type="button" class="btn btn-warning">Training & Placement</button></div><hr>
  <div class="row"><button type="button" class="btn btn-success">Women's Grievance Cell</button></div><hr>
  <div class="row"><button type="button" class="btn btn-info"> SC/ ST Committee</button></div>
 

  
</div>
</div>
</div>



<!---Vision Mission-->
<hr>
<h5 class="text-center text-primary">!!--MISSION ANS VISION--!!</h5><hr>
<div class="container-fluid mx-0 px-0">
 <div class="row">    
 <div class="col-md-4">
  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
    <h5 class="card-header text-center">MISSION</h5>
    <div class="card-body">
    <p class="card-text align="justify" style="text-align: justify !important;">We encourage academic excellence and independence of thoughts. Our endeavour is to support the career and personal development of the students. We are passionate about grooming leaders who are not only thorough professionals but also good human beings with values and can contribute to the overall development of the society.</p>
    </div>
  </div>
</div> 

<div class="col-md-4">
 <div class="card text-dark bg-info mb-3" style="max-width: 50rem;">
    <h5 class="card-header text-center">VISION</h5>
    <div class="card-body">
    <p class="card-text align="justify" style="text-align: justify !important;">To impart comprehensive education, keeping abreast with the existing trends to make students sensitive towards sustainable development, socio-cultural aspirations and thus actively participate in creating a better world.To develop individuals with multifaceted personality who will successfully shoulder the responsibilities of the society</p>
    </div>
  </div>
</div> 

<div class="col-md-4">
  <div class="card text-dark bg-light mb-3" style="max-width: 50rem;">
    <h5 class="card-header text-center">OUR OBJECTIVE</h5>
    <div class="card-body">
    <p class="card-text align="justify" style="text-align: justify !important;">To impart quality education through knowledge and skills, identifying both global and grass-root level needs and emphasizing on: "Think global and act Local" approach.Instil professional ethics and conformity to rules and regulations.To provide opportunities for all round development of personality through extracurricular activities.</p>
    </div>
  </div>
</div>  

 </div>
</div>





      {% endblock body %}
  </html>








