{% extends 'base.html' %}
<!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"/>
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
        <!-- Favicon -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
            {% block title %}first_year{% endblock title %}
    </head>

   {% block body %}
   
           




<div class="container-fluid mx-0 px-0 full-width-row">
<div class="row">
<div class="col-md-6"> 

   <table class="table table-bordered">
    <thead>
        <tr class="table-primary"><td colspan="3"><b>Courses Offered</b></td></tr>
      <tr>
        
        <th scope="col">Sr. No.</th>
        <th scope="col">Name of Course</th>
        <th scope="col">Intake</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>1</td>
        <td>Computer Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        
        <td>2</td>
        <td>Civil Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        
        <td>3</td>
        <td>Mechanical Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        
        <td>4</td>
        <td>Electrical Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        
        <td>5</td>
        <td>Electronics and Telecommunication</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6"> 

    <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">Eligibility </th>
          </tr>
        </thead>
        <tbody>
            <tr><td><b>Eligibility criteria for First Year Diploma admissions:</b></td></tr>
          <tr>
           
          <td>    
                    
            <p>
            1. 45% marks in SSC(10th)<br>
            2. The  Candidate  should  be  an  Indian  National.<br> 
            3. Backward  Class categories candidates  belonging  to  Maharashtra  State.<br>
            4. Details regarding first year diploma admissions for the year 2022-23 will be made available by Admission Regulating Authority on the website: http://www.dte.org.in/<br><hr>
            <button type="button" class="btn btn-primary">Click here for Circular</button>
            </td>  
          </tr>  
        </tbody>
    </table>        

</div>    

</div>  
</div>

<hr>

<!--Required Documents-->

<div class="container-fluid mx-0 px-0 full-width-row">
    <div class="row">
    <div class="col-md-6"> 
    
       <table class="table table-bordered">
        <thead>
            <tr class="table-primary"><td colspan="3"><b>Required documents:</b></td></tr>
          <tr>
            
            <th scope="col">Sr. No.</th>
            <th scope="col">List of Documents</th>
            
          </tr>
        </thead>
        <tbody>

            <tr>
            
                <td>1</td>
                <td>Statement of marks obtained at SSC</td>
               
              </tr>  

          <tr>
            
            <td>1</td>
            <td>School Leaving Certificate after passing SSC</td>
           
          </tr>
          <tr>
            
            <td>2</td>
            <td>Certificate of Indian Nationality of the candidate.</td>
            
          </tr>
          <tr>
            
            <td>3</td>
            <td>Domicile Certificate</td>
            
          </tr>
          <tr>
            
            <td>4</td>
            <td>Education Gap Affidavit on Stamp Paper of 100/- (if applicable)</td>
            
          </tr>
          <tr>
            
            <td>5</td>
            <td>Passport size Photograph - 3 Nos</td>
            
          </tr>

          <tr>
            
            <td>6</td>
            <td>Aadhar Card</td>
            
          </tr>

          

           

        </tbody>
      </table>
    </div>
    <div class="col-md-6"> 
    
        <table class="table table-bordered">
         <thead>
             <tr class="table-primary"><td colspan="4"><b>Backward Class Category Candidates from Maharashtra State:</b></td></tr>
           <tr>
             
             <th scope="col">Sr. No.</th>
             <th scope="col">Category</th>
             <th scope="col">Documents required</th>
             <th scope="col">Issuing Authority  </th>
             
           </tr>
         </thead>
         <tbody>
           <tr>
             
             <td>1</td>
             <td>SC</td>
             <td>Caste Certificate</td>
             <td>Executive Magistrate in Maharashtra State</td>
            
           </tr>
           <tr>
             
             <td>2</td>
             <td>ST</td>
             <td>Caste Certificate <br>Caste Validity Certificate</td>
             <td>Executive Magistrate in Maharashtra State</td>
             
           </tr>
           <tr>
             
             <td>3</td>
             <td>VJ/DT-<br>
                N.T.(A)/(B)/(C)/(D)<br>
                O.B.C.<br>
                S.B.C</td>
             <td>Caste Certificate<br>valid Non-creamy layer Certificate.
             </td>
             <td>Executive Magistrate in Maharashtra State</td>
             
           </tr>
          
                
 
         </tbody>
       </table>
     </div>    
    
    </div>  
    </div>




   {% endblock body %}
   </html>
 